<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <title>New Book</title>
</head>

<body>

  <% include partials/navigation %>
  <div class="container p-4">
    <form method="POST" target="/newbooks" class="card card-body">

      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input name="titulo" type="text" class="form-control" placeholder="Nuevo Titulo" autofocus required>
      </div>
      
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <input type="text" name="imagen" class="form-control" placeholder="URL" required>
      </div>

      <div class="form-group">
        <label for="descripcion">Descricion</label>
        <textarea class="form-control" name="descripcion" rows="2" required>
        </textarea>
      </div>

      <div class="form-group">
        <input type="submit" value="Añadir" class="btn btn-primary">
      </div>
    </form>

  </div>

</body>

</html>