<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("partials/head") %> 
  </head>
  <body>
    <%- include('partials/navigation') %> 

    
    <!-- MAIN CONTENT -->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div>
          <h1>Los juicios de Salem</h1>
          <img src="https://cordexizdesign.es/wp-content/uploads/2020/10/brujas_portada_predisenada.jpg" width="20%">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
          <a href="/" class="btn btn-primary w-25">Delete</a>
        </div>

        <div>
          <h1>Red Queen</h1>
          <img src="https://www.podiprint.com/wp-content/uploads/2018/03/red-queen.jpg" width="20%">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
          <a href="/" class="btn btn-primary w-25">Delete</a>
        </div>

        <div>
          <h1>Libro</h1>
          <img src="https://media.revistaad.es/photos/60c227359ae22619e08751b2/master/w_1600%2Cc_limit/247747.jpg" width="20%">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
          <a href="/" class="btn btn-primary w-25">Delete</a>
        </div>
      </div>




      <a href="/books" class="btn btn-primary w-25">Ver tus libros</a>

      
    </header>
  </body>
</html>

