<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("partials/head") %> 
  </head>
  <body>
    <%- include('partials/navigation') %> 

    
    <!-- MAIN CONTENT -->
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4" id="clase">
          <div class="card">
            <div class="card-header bg-dark text-white">
              <h1>Los juicios de Salem</h1>
            </div>
            <img class="card card-img-top" src="https://cordexizdesign.es/wp-content/uploads/2020/10/brujas_portada_predisenada.jpg">
            <div class="card card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
            </div>
            <a href="/" class="btn btn-primary w-25">Delete</a>
          </div>

          <div class="card">
            <div class="card-header bg-dark text-white">
              <h1>Red Queen</h1>
            </div>
          
            <img class="card card-img-top" src="https://www.podiprint.com/wp-content/uploads/2018/03/red-queen.jpg">
            <div class="card card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
            </div>
            <a href="/" class="btn btn-primary w-25">Delete</a>
          </div>

          <div class="card">
            <div class="card-header bg-dark text-white">
              <h1>Libro</h1>
            </div>
            <img class="card card-img-top" src="https://media.revistaad.es/photos/60c227359ae22619e08751b2/master/w_1600%2Cc_limit/247747.jpg">
            <div class="card card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquam, sit atque voluptates mollitia culpa.</p>
            </div>
            <a href="/" class="btn btn-primary w-25">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

